# OpenMVG and MVS
# Path to the directory containing the input images
INPUT_IMAGES_DIRECTORY=path/to/input/images/directory

# Path to the root directory of the OpenMVG repository
OPENMVG_ROOT=path/to/openmvg/root/directory

# Path to OpenMVS
OPENMVS_ROOT=path/to/openmvs/binary/directory

# OpenStereo
# Clone the OpenStereo repository and put its path to the root directory here
OPENSTEREO_PATH=path/to/openStereo/root/directory

# Path to the pretrained igev .pth file. Download it by following the readme in IGEV github repository
IGEV_CHECKPOINT=path/to/pretrained/igev/model/sceneflow.pth