# Path to the directory containing the input images
INPUT_IMAGES_DIRECTORY=path/to/input/images/directory

# Path to the root directory of the OpenMVG repository
OPENMVG_ROOT=path/to/openmvg/root/directory

# Path to OpenMVS
OPENMVS_ROOT=path/to/openmvs/binary/directory